html{
    background-color: white;
}
body{
    background-color: #2430AD;
    width: 360px;
    height: 640px;
}
.iconegrande{
    width: 339px;
    height: 195px;
    left: 10px;
    top: 212px;
}
.iconegrande > img{
    margin-top: 50%;
    width: 339px;
    height: 195px;
    left: 10px;
    top: 212px;
}

